<form (ngSubmit)="onSubmit()" #addForm="ngForm">
    <div class="mb-3 contact-form">
        <label for="name">University Name</label>
        <input type="text" class="input-text" id="name" required 
                placeholder="Enter the University's Name"
                [(ngModel)]="model.Name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            Name is required
        </div>
    </div>
    <div class="mb-3 contact-form">
        <label for="address" class="form-label">University Address</label>
        <textarea class="input-text" id="address" required
                placeholder="Enter the University's Address" 
                rows="2" [(ngModel)]="model.Address" name="address" #address="ngModel"></textarea>
        <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            Address is required
        </div>
    </div>
    <div class="mb-3 contact-form">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" class="input-text" id="phone" 
                required placeholder="Enter phone number" pattern="[1-9]{1}[0-9]{9}"
                [(ngModel)]="model.Phone" name="phone" #phone="ngModel">
        
        <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Please enter a valid Phone Number as per above format
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="submit-btn" [disabled]="!addForm.form.valid">Add University to data base</button>
    </div>
</form>
